<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: headstuff"></head>
<body>
<nav th:replace="base :: navbar"></nav>
<div class="container">
    <div class="jumbotron col-md-6 mx-auto" style="margin-top: 20px; padding-top: 2rem">
        <div class="mx-auto">
            <h1 class="display-4">Add a Student</h1>
        </div>
        <form class="form-signin mx-auto" action="#" th:action="@{/processStudent}" th:object="${student}" method="post"
              enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{url}"/>
            <input type="hidden" th:field="*{courses}"/>
            <div class="form-label-group">
                <input type="text" class="form-control" id="firstname" name="firstname" th:field="*{firstName}"
                       placeholder="First Name" required autofocus/>
                <label for="firstname">First Name</label>
            </div>
            <div class="form-label-group">
                <input type="text" class="form-control" id="lastname" name="lastname" th:field="*{lastName}"
                       placeholder="Last Name" required autofocus/>
                <label for="lastname">Last Name</label>
            </div>

            <div class="form-label-group">
                <input type="text" class="form-control" id="dob" name="dob" th:field="*{dob}"
                       placeholder="Date of Birth" required autofocus/>
                <label for="dob">Date of Birht</label>
            </div>
            <div class="form-group">
                <div th:if="${student.url != null and !student.url.equals('')}">
                    <img th:src="${student.url}"/>
                </div>
                <label th:if="${student.url != null and !student.url.equals('')}" for="image">Image(Optional, max size: 1MB)</label>
                <label th:unless="${student.url != null and !student.url.equals('')}" for="image">Image(max size: 1MB)</label>
                <input type="file" class="form-control-file" id="image" name="file" th:src="${student.url}"/>
                <input type="hidden" th:field="*{id}"/>
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button>
        </form>
    </div>
</div>
<footer th:replace="base :: footer"></footer>
</body>
<th:block th:replace="base :: jslinks"></th:block>
</html>